@use "./colors" as colors;
@use "./fonts" as fonts;
@use "./images" as images;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 62.5%;
}

// <----- HEADER ----->


// <----- NAVIGATION ----->


// <----- ABOUT ME ----->


// <----- MY PROJECTS ----->


// <----- CONTACT ME ----->


// <----- FOOTER ----->


// <----- BREAKPOINTS ----->
