@use "./colors" as colors;
@use "./fonts" as fonts;
@use "./images" as images;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 62.5%;
}

body {
	// <----- HEADER ----->

	// <----- NAVIGATION ----->

	// <----- ABOUT ME ----->

	// <----- MY PROJECTS ----->
	#myProjects {
		.project-card {
			.img {
				width: 100%;
				height: 100%;
				background-position: center;
				background-size: cover;
				border-radius: 15px;
				transition: 0.8s;
			}
		}
	}

	// <----- CONTACT ME ----->

	// <----- FOOTER ----->

	// <----- BREAKPOINTS ----->
}
